name: C/C++ CI

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        name: [
          ubuntu-latest
        ]
        include:
          - name: ubuntu-latest
            os: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - name: Install
      run: |
        sudo apt install libssl-dev

    - name: Build
      run: |
        make
